<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786884601265-1s4mc4i5hp8kasdeep12v6up1fplqsvl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786884601265-1s4mc4i5hp8kasdeep12v6up1fplqsvl</string>
	<key>API_KEY</key>
	<string>AIzaSyCZsN2ilfesgy76_o-EP08t1UGM3PFJqbc</string>
	<key>GCM_SENDER_ID</key>
	<string>786884601265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kimhwan.graduate</string>
	<key>PROJECT_ID</key>
	<string>poetree-80246</string>
	<key>STORAGE_BUCKET</key>
	<string>poetree-80246.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786884601265:ios:3d25aefa0e491e07b7c990</string>
</dict>
</plist>